@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

body {
    margin: 0;
}
.titw {
    display: flex;
    background-image:url(https://images.deliveryhero.io/image/foodpanda/cms-hero.jpg);
    width: 100%;
    height: 360px;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.burat {
    color: rgb(255, 255, 255);
    font-family: "Open Sans";
    font-size: 32px
}